.wp-block-artsylens-pro-featured-content .wp-block-image,
.wp-block-artsylens-featured-content .wp-block-image {
  overflow: hidden;
}

.wp-block-artsylens-pro-featured-content .wp-block-image img,
.wp-block-artsylens-featured-content .wp-block-image img {
  transition: all 0.5s ease;
}

.wp-block-artsylens-pro-featured-content .wp-block-image:hover img,
.wp-block-artsylens-featured-content .wp-block-image:hover img {
  filter: blur(0);
  transform: scale(1.05);
}

.wp-block-group.entry-meta {
  gap: 14px;
}

.wp-block-post-template {
  li {
    h2 {
      font-size: var(--wp--preset--font-size--large);
      margin-top: 14px;
      font-family: var(--wp--preset--font-family--ibarra-real-nova);
    }
  }

  .alignfull.wp-block-post-container {
    padding: 0;
  }
}


.blog-section .wp-block-post-template,
.wp-block-post-template.alignfull {
  gap: var(--wp--custom--spacing--column-gap);
}

.wp-block-post-template figure {
  margin-bottom: var(--wp--custom--spacing--extra-small);
}

figure a,
.wp-block-post-title a {
  padding: 0;
}